.mary2{
  top: 54.5%;
  left: 35%;
}

.steve2{
  top: 54.2%;
  left: 43%;
}

.jenny2{
  top: 55.5%;
  left: 51%;
}

.greg2{
  top: 54.5%;
  left: 59%;
}

.allen2{
  top: 54.5%;
  left: 67%;
}

.william2{
  top: 54.5%;
  left: 75%;
}

