.referenceButton{
  position: absolute;
  top: 85%;
  left: 40%;
  height: 8%;
  width: 20%;
}

.goNextButton{
  position: absolute;
  top: 85%;
  left: 43.5%;
  height: 8%;
  width: 12%;
}

.referenceButton:hover{
  transform:scale(1.1)
}

.goNextButton:hover{
  transform:scale(1.1)
}

.firstImage{
  position: absolute;
  top: 5%;
  left: 11%;
  height: 75%;
}

.secondImage{
  position: absolute;
  top: 5%;
  left: 55%;
  height: 75%;
}